@import "tailwindcss/preflight";
@tailwind utilities;

:root {
  --background: #f8f9fb;
  --foreground: #1e1e1e;
  --card: #ffffff;
  --primary: #134395;
}

.dark {
  --background: #1a1a1a;
  --foreground: #f0f0f0;
  --card: #222222;
}
