@import "tailwindcss";

:root {
  --background: 248 249 251;
  --foreground: 30 30 30;
  --card: 255 255 255;
  --primary: 19 67 149;
}

.dark {
  --background: 26 26 26;
  --foreground: 240 240 240;
  --card: 34 34 34;
}
